In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
from shapely.geometry import LineString, MultiLineString
import ast
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster


%matplotlib inline

In [2]:
may_trips = pd.read_pickle('../data/may_trips.pkl')
june_trips = pd.read_pickle('../data/june_trips.pkl')
july_trips = pd.read_pickle('../data/july_trips.pkl')

In [3]:
july_trips.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
0,2019-07-01 00:02:52.213000,Bird,BRD5179,PoweredZSHKJ,0.0,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000,2019-07-01 00:01:32.290000,2019-07-01 00:03:55.966666,0 days 00:02:23.676666,2.383333
1,2019-07-01 00:02:52.213000,Bird,BRD5177,Powered22JF6,0.0,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000,2019-07-01 00:02:38.640000,2019-07-01 00:02:54.406666,0 days 00:00:15.766666,0.250000
2,2019-07-01 00:02:52.213000,Bird,BRD5176,Powered22JF6,0.0,36.1627,-86.7713,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000,2019-07-01 00:03:04.333333,2019-07-01 00:03:37.680000,0 days 00:00:33.346667,0.550000
3,2019-07-01 00:02:52.213000,Bird,BRD5178,PoweredIB2CC,0.0,36.1525,-86.7988,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000,2019-07-01 00:02:06.963333,2019-07-01 00:03:25.766666,0 days 00:01:18.803333,1.300000
4,2019-07-01 00:02:52.213000,Bird,BRD5180,PoweredW4G7R,0.0,36.1578,-86.7760,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000,2019-07-01 00:01:19.843333,2019-07-01 00:02:53.976666,0 days 00:01:34.133333,1.566667

In [4]:
july_trips.tail()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
134921,2019-08-01 04:53:48,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,7075.2,36.154633,-86.798340,36.149220,-86.813980,"[[""36.154631"",""-86.798341""],[""36.154631"",""-86....",2019-08-02 08:21:27.127000,2019-07-31 23:47:43,2019-08-01 00:05:13,0 days 00:17:30,17.500000
134922,2019-08-01 04:53:48,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,1320.0,36.153015,-86.783585,36.152843,-86.779594,"[[""36.153016"",""-86.783586""],[""36.153016"",""-86....",2019-08-02 08:21:26.773000,2019-07-31 23:57:19,2019-08-01 00:00:28,0 days 00:03:09,3.150000
134923,2019-08-01 04:53:48,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,7920.0,36.153687,-86.784580,36.164158,-86.776900,"[[""36.153685"",""-86.784578""],[""36.153685"",""-86....",2019-08-02 08:21:26.803000,2019-07-31 23:41:52,2019-08-01 00:00:18,0 days 00:18:26,18.433333
134924,2019-08-01 07:04:00,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,20433.6,36.155735,-86.775185,36.173904,-86.785450,"[[""36.155736"",""-86.775181""],[""36.155531"",""-86....",2019-08-02 08:24:21.967000,2019-07-31 23:26:15,2019-08-01 01:48:35,0 days 02:22:20,142.333333
134925,2019-08-01 07:04:00,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,14889.6,36.160050,-86.776720,36.163410,-86.782100,"[[""36.160051"",""-86.77672""],[""36.160051"",""-86.7...",2019-08-02 08:24:22,2019-07-31 22:19:08,2019-08-01 01:48:33,0 days 03:29:25,209.416667

In [5]:
july_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134669 entries, 0 to 134925
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   pubTimeStamp         134669 non-null  object
 1   companyName          134669 non-null  object
 2   tripRecordNum        134669 non-null  object
 3   sumdID               134669 non-null  object
 4   tripDistance         134669 non-null  float64
 5   startLatitude        134669 non-null  float64
 6   startLongitude       134669 non-null  float64
 7   endLatitude          134669 non-null  float64
 8   endLongitude         134669 non-null  float64
 9   tripRoute            134669 non-null  object
 10  create_dt            134669 non-null  object
 11  startDateTime_clean  134669 non-null  datetime64[ns]
 12  endDateTime_clean    134669 non-null  datetime64[ns]
 13  duration_clean       134669 non-null  timedelta64[ns]
 14  duration_min         134669 non-null  float64
dtypes: datetime64[ns](2), float64(6), object(6), timedelta64[ns](1)
memory usage: 16.4+ MB

In [6]:
july_trips.tripRoute.value_counts

<bound method IndexOpsMixin.value_counts of 0         [[36.177438,-86.751861],[36.177425,-86.751987]...
1           [[36.162718,-86.771102],[36.162718,-86.771102]]
2         [[36.162734,-86.77122],[36.162706,-86.771325],...
3                                  [[36.152499,-86.798708]]
4                                  [[36.157523,-86.775794]]
                                ...
134921    [["36.154631","-86.798341"],["36.154631","-86....
134922    [["36.153016","-86.783586"],["36.153016","-86....
134923    [["36.153685","-86.784578"],["36.153685","-86....
134924    [["36.155736","-86.775181"],["36.155531","-86....
134925    [["36.160051","-86.77672"],["36.160051","-86.7...
Name: tripRoute, Length: 134669, dtype: object>

In [7]:
june_trips.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
0,2019-06-01 00:05:46.817000,Bird,BRD3572,PoweredSPI1T,328.084000,36.164400,-86.78070,36.163600,-86.780200,"[[36.164679,-86.781089],[36.163693,-86.78011],...",2019-06-02 05:30:19.960000,2019-06-01 00:02:18.203333,2019-06-01 00:06:16.406666,0 days 00:03:58.203333,3.966667
1,2019-06-01 00:05:46.817000,Bird,BRD3571,Powered2I3MS,4921.260000,36.175300,-86.79430,36.175300,-86.794300,"[[36.175367,-86.794232],[36.175367,-86.794232]...",2019-06-02 05:30:19.927000,2019-06-01 00:02:44.803333,2019-06-01 00:07:28.286666,0 days 00:04:43.483333,4.716667
2,2019-06-01 00:09:54,Gotcha,GOT1,Powered327,12.426575,36.161501,-86.77601,36.152529,-86.783742,"[[""36.16149"",""-86.77605000000001""]]",2019-06-06 22:23:08.673000,2019-06-01 00:09:56.000000,2019-06-01 00:21:56.000000,0 days 00:12:00,12.000000
3,2019-06-01 00:10:46.957000,Bird,BRD3610,Powered8U1A6,0.000000,36.164000,-86.78070,36.163100,-86.779700,"[[36.163168,-86.779639]]",2019-06-02 05:30:20.283000,2019-06-01 00:10:31.163333,2019-06-01 00:12:02.773333,0 days 00:01:31.610000,1.516667
4,2019-06-01 00:10:46.957000,Bird,BRD3612,PoweredSPI1T,656.168000,36.165000,-86.77990,36.165900,-86.777800,"[[36.164951,-86.779836],[36.16494,-86.779456],...",2019-06-02 05:30:20.347000,2019-06-01 00:07:21.430000,2019-06-01 00:12:30.913333,0 days 00:05:09.483333,5.150000

In [8]:
june_trips.tail()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
205622,2019-07-01 19:58:07,JUMP,JMP56,Powered2c1eeca5-26f4-5283-bbcd-5f46b19b7681,40708.8,36.153070,-86.78393,36.160503,-86.77805,"[[""36.153068"",""-86.783928""],[""36.153063"",""-86....",2019-07-02 07:58:39.613000,2019-06-30 02:16:21,2019-07-01 14:04:18,1 days 11:47:57,2147.950000
205623,2019-07-01 19:58:07,JUMP,JMP53,Poweredac7200ea-c5a4-5362-94a8-03e4d2255104,36854.4,36.162140,-86.77515,36.166332,-86.76144,"[[""36.160706"",""-86.773443""],[""36.160706"",""-86....",2019-07-02 07:58:39.740000,2019-06-29 21:46:34,2019-07-01 14:04:09,1 days 16:17:35,2417.583333
205624,2019-07-01 19:58:07,JUMP,JMP52,Powered3f96a82d-9641-58b6-b6db-b80f746a24cd,62356.8,36.156837,-86.78104,36.149980,-86.76131,"[[""36.156838"",""-86.781036""],[""36.156845"",""-86....",2019-07-02 07:58:39.827000,2019-06-29 16:15:42,2019-07-01 14:04:05,1 days 21:48:23,2748.383333
205625,2019-07-01 19:58:07,JUMP,JMP54,Poweredc2d0a425-86dd-5664-a036-d770559391bb,44880.0,36.152622,-86.79712,36.140900,-86.78785,"[[""36.152695"",""-86.79713""],[""36.152695"",""-86.7...",2019-07-02 07:58:39.707000,2019-06-29 22:09:51,2019-07-01 14:04:12,1 days 15:54:21,2394.350000
205626,2019-07-01 19:58:07,JUMP,JMP50,Powered1b56f557-adce-5c68-a98b-ab1ef41c7dcc,32472.0,36.164547,-86.77692,36.180170,-86.74800,"[[""36.164546"",""-86.776913""],[""36.164546"",""-86....",2019-07-02 07:58:39.893000,2019-06-29 15:55:36,2019-07-01 14:03:58,1 days 22:08:22,2768.366667

In [9]:
june_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196197 entries, 0 to 205626
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   pubTimeStamp         196197 non-null  object
 1   companyName          196197 non-null  object
 2   tripRecordNum        196197 non-null  object
 3   sumdID               196197 non-null  object
 4   tripDistance         196197 non-null  float64
 5   startLatitude        196197 non-null  float64
 6   startLongitude       196197 non-null  float64
 7   endLatitude          196197 non-null  float64
 8   endLongitude         196197 non-null  float64
 9   tripRoute            196197 non-null  object
 10  create_dt            196197 non-null  object
 11  startDateTime_clean  196197 non-null  datetime64[ns]
 12  endDateTime_clean    196197 non-null  datetime64[ns]
 13  duration_clean       196197 non-null  timedelta64[ns]
 14  duration_min         196197 non-null  float64
dtypes: datetime64[ns](2), float64(6), object(6), timedelta64[ns](1)
memory usage: 23.9+ MB

In [10]:
june_trips.tripRoute.value_counts

<bound method IndexOpsMixin.value_counts of 0         [[36.164679,-86.781089],[36.163693,-86.78011],...
1         [[36.175367,-86.794232],[36.175367,-86.794232]...
2                       [["36.16149","-86.77605000000001"]]
3                                  [[36.163168,-86.779639]]
4         [[36.164951,-86.779836],[36.16494,-86.779456],...
                                ...
205622    [["36.153068","-86.783928"],["36.153063","-86....
205623    [["36.160706","-86.773443"],["36.160706","-86....
205624    [["36.156838","-86.781036"],["36.156845","-86....
205625    [["36.152695","-86.79713"],["36.152695","-86.7...
205626    [["36.164546","-86.776913"],["36.164546","-86....
Name: tripRoute, Length: 196197, dtype: object>

In [11]:
may_trips.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,958.00528,36.15710,-86.80360,36.15660,-86.80670,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000,2019-05-01 00:00:20.460000,2019-05-01 00:02:52.346666,0 days 00:02:31.886666,2.516667
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1371.39112,36.15797,-86.77896,36.16054,-86.77689,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000,2019-05-01 00:01:50.090000,2019-05-01 00:03:33.026666,0 days 00:01:42.936666,1.700000
2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,2296.58800,36.15470,-86.78180,36.15650,-86.78680,"[[36.155068,-86.782124],[36.156597,-86.78675]]",2019-05-02 05:30:24.530000,2019-05-01 00:03:47.363333,2019-05-01 00:07:13.596666,0 days 00:03:26.233333,3.433333
3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,1200.78744,36.14940,-86.77950,36.15310,-86.77960,"[[36.149741,-86.779344],[36.149741,-86.779327]...",2019-05-02 05:30:24.237000,2019-05-01 00:04:21.386666,2019-05-01 00:06:59.176666,0 days 00:02:37.790000,2.616667
4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,351.04988,36.17780,-86.78660,36.17740,-86.78760,"[[36.177699,-86.786477],[36.177711,-86.786469]...",2019-05-02 05:30:24.207000,2019-05-01 00:04:27.796666,2019-05-01 00:06:23.150000,0 days 00:01:55.353334,1.916667

In [12]:
may_trips.tail()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
224633,2019-06-01 00:52:05.920000,SPIN,SPI715,Powered9174710,2024.27828,36.147385,-86.811784,36.149966,-86.805699,"[[36.14996642413616,-86.805699379889091],[36.1...",2019-06-02 09:06:17.643000,2019-05-31 23:51:26,2019-06-01 00:47:19,0 days 00:55:53,55.883333
224634,2019-06-01 08:52:23.433000,SPIN,SPI464,Powered7025869,3336.61428,36.158557,-86.767873,36.158770,-86.779190,"[[36.15877,-86.77919],[36.15877,-86.77919],[36...",2019-06-02 09:06:49.913000,2019-05-31 19:49:28,2019-06-01 08:51:32,0 days 13:02:04,782.066667
224693,2019-06-01 17:02:41.270000,SPIN,SPI667,Powered9642505,49.21260,36.149462,-86.806266,36.149580,-86.806360,"[[36.149494461748887,-86.806152407160781],[36....",2019-06-02 09:06:58.667000,2019-05-31 22:57:48,2019-06-01 17:02:01,0 days 18:04:13,1084.216667
224694,2019-06-01 19:42:46.580000,SPIN,SPI291,Powered6661538,12283.46496,36.149732,-86.814452,36.163070,-86.776210,"[[36.16307,-86.77621],[36.16307,-86.77621],[36...",2019-06-02 09:07:09.960000,2019-05-28 19:08:06,2019-06-01 19:39:02,4 days 00:30:56,5790.933333
224968,2019-06-13 05:17:41.630000,SPIN,SPI146,Powered5750098,21551.83796,36.148668,-86.813511,36.147776,-86.740437,"[[36.147775779365219,-86.740436729892863],[36....",2019-06-14 09:36:56.957000,2019-05-19 01:49:22,2019-06-13 05:14:40,25 days 03:25:18,36205.300000

In [13]:
may_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199984 entries, 0 to 224968
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   pubTimeStamp         199984 non-null  object
 1   companyName          199984 non-null  object
 2   tripRecordNum        199984 non-null  object
 3   sumdID               199984 non-null  object
 4   tripDistance         199984 non-null  float64
 5   startLatitude        199984 non-null  float64
 6   startLongitude       199984 non-null  float64
 7   endLatitude          199984 non-null  float64
 8   endLongitude         199984 non-null  float64
 9   tripRoute            199984 non-null  object
 10  create_dt            199984 non-null  object
 11  startDateTime_clean  199984 non-null  datetime64[ns]
 12  endDateTime_clean    199984 non-null  datetime64[ns]
 13  duration_clean       199984 non-null  timedelta64[ns]
 14  duration_min         199984 non-null  float64
dtypes: datetime64[ns](2), float64(6), object(6), timedelta64[ns](1)
memory usage: 24.4+ MB

In [14]:
may_trips.tripRoute.value_counts

<bound method IndexOpsMixin.value_counts of 0         [[36.157235,-86.803612],[36.157235,-86.80362],...
1         [[36.15797,-86.77896],[36.15795,-86.77873],[36...
2            [[36.155068,-86.782124],[36.156597,-86.78675]]
3         [[36.149741,-86.779344],[36.149741,-86.779327]...
4         [[36.177699,-86.786477],[36.177711,-86.786469]...
                                ...
224633    [[36.14996642413616,-86.805699379889091],[36.1...
224634    [[36.15877,-86.77919],[36.15877,-86.77919],[36...
224693    [[36.149494461748887,-86.806152407160781],[36....
224694    [[36.16307,-86.77621],[36.16307,-86.77621],[36...
224968    [[36.147775779365219,-86.740436729892863],[36....
Name: tripRoute, Length: 199984, dtype: object>

In [15]:
may_trips = may_trips.loc[may_trips['duration_min'] < 39.16]
may_trips = may_trips.loc[may_trips['duration_min'] > 0]
may_trips = may_trips.loc[may_trips['tripDistance'] < 52800]
may_trips = may_trips.loc[may_trips['tripDistance'] > 0]
june_trips = june_trips.loc[june_trips['duration_min'] < 38.75]
june_trips = june_trips.loc[june_trips['duration_min'] > 0]
june_trips = june_trips.loc[june_trips['tripDistance'] < 52800]
june_trips = june_trips.loc[june_trips['tripDistance'] > 0]
july_trips = july_trips.loc[july_trips['duration_min'] < 41.42]
july_trips = july_trips.loc[july_trips['duration_min'] > 0]
july_trips = july_trips.loc[july_trips['tripDistance'] < 52800]
july_trips = july_trips.loc[july_trips['tripDistance'] > 0]

In [16]:
july_trips = july_trips.sort_values(['tripDistance'], ascending=True)

In [18]:
july_trips = july_trips.reset_index()
july_trips.head()

,index,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
0,12783,2019-07-04 17:45:18,Gotcha,GOT27,Powered638,2.428921,36.170997,-86.785147,36.162945,-86.776372,"[[""36.17100000000001"",""-86.78514000000001""]]",2019-07-05 07:07:30.107000,2019-07-04 17:45:23,2019-07-04 18:04:23,0 days 00:19:00,19.000000
1,65770,2019-07-14 23:11:32,Gotcha,GOT47,Powered1576,2.896352,36.160829,-86.777607,36.158247,-86.784045,"[[""36.160830000000004"",""-86.7776""]]",2019-07-15 07:26:31.460000,2019-07-14 23:11:33,2019-07-14 23:16:33,0 days 00:05:00,5.000000
2,4609,2019-07-02 01:54:58.853000,Lime,LIM786115,Powered6GHEMWO6YRJIP,2.943043,36.168093,-86.783159,36.168088,-86.783151,"[[36.16809,-86.78316],[36.16809,-86.7831499999...",2019-07-03 08:48:42.973000,2019-07-02 01:24:40,2019-07-02 01:24:59,0 days 00:00:19,0.316667
3,63818,2019-07-14 19:57:02.330000,Lime,LIM801077,PoweredA2MMMLCRLSMPF,2.943256,36.162035,-86.774165,36.162422,-86.774302,"[[36.16242,-86.77429],[36.16242,-86.77429],[36...",2019-07-15 09:39:47.780000,2019-07-14 19:30:23,2019-07-14 19:33:02,0 days 00:02:39,2.650000
4,104394,2019-07-25 12:58:35.557000,Lime,LIM814126,PoweredVIEIPVJSNPOCQ,2.943348,36.159993,-86.776596,36.163101,-86.778753,"[[36.15999,-86.7766],[36.15999,-86.77661],[36....",2019-07-26 09:50:04.863000,2019-07-25 11:52:48,2019-07-25 11:55:40,0 days 00:02:52,2.866667

In [19]:
july_trips.tail()

,index,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
97933,105212,2019-07-25 17:58:37.793000,Lime,LIM814405,PoweredGGWJJVFWJC72J,51206.252297,36.163791,-86.780808,36.160835,-86.778863,"[[36.16266,-86.78275],[36.16266,-86.78275],[36...",2019-07-26 09:51:02.337000,2019-07-25 17:04:14,2019-07-25 17:41:39,0 days 00:37:25,37.416667
97934,83537,2019-07-19 23:57:55.540000,Lime,LIM807337,Powered4VFF5VL4F75NH,51451.952521,36.128783,-86.798459,36.134320,-86.780693,"[[36.12884,-86.79845],[36.12884,-86.79845],[36...",2019-07-20 09:49:08.973000,2019-07-19 22:47:09,2019-07-19 23:09:11,0 days 00:22:02,22.033333
97935,99896,2019-07-23 20:58:24.093000,Lime,LIM812351,PoweredJQVKWGMSQZ3RO,51620.574413,36.100304,-86.799772,36.110778,-86.787517,"[[36.10032,-86.79952],[36.10264,-86.79763],[36...",2019-07-24 09:20:30,2019-07-23 18:51:59,2019-07-23 19:05:41,0 days 00:13:42,13.700000
97936,97611,2019-07-22 20:58:13.157000,Lime,LIM811677,PoweredTBGIRQ5IOW2KR,51767.884777,36.160527,-86.778177,36.141656,-86.794630,"[[36.15822,-86.77729],[36.15777,-86.7786599999...",2019-07-23 09:22:47.093000,2019-07-22 19:35:51,2019-07-22 19:49:41,0 days 00:13:50,13.833333
97937,101767,2019-07-24 15:58:28.037000,Lime,LIM813149,Powered5BW4GPYGBMUTL,52621.408883,36.165405,-86.781621,36.105818,-86.773570,"[[36.16538,-86.7815],[36.16713,-86.77694],[36....",2019-07-25 09:10:52.947000,2019-07-24 14:42:18,2019-07-24 15:01:31,0 days 00:19:13,19.216667

In [20]:
june_trips = june_trips.sort_values(['tripDistance'], ascending=True)

In [21]:
june_trips = june_trips.reset_index()
june_trips.head()

,index,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
0,122697,2019-06-16 06:44:37,Gotcha,GOT23,Powered673,0.076653,36.151881,-86.792676,36.151880,-86.792677,"[[""36.151880000000006"",""-86.79268""],[""36.15188...",2019-06-17 06:46:57.193000,2019-06-16 06:44:41,2019-06-16 07:07:41,0 days 00:23:00,23.0
1,404,2019-06-01 01:18:37,Gotcha,GOT12,Powered789,0.102276,36.143678,-86.806358,36.143670,-86.806363,"[[""36.14367"",""-86.80636000000001""],[""36.14367""...",2019-06-06 22:23:10.510000,2019-06-01 01:18:39,2019-06-01 01:19:39,0 days 00:01:00,1.0
2,1455,2019-06-01 03:07:05,Gotcha,GOT39,Powered2143,0.163755,36.154079,-86.784680,36.155403,-86.775595,"[[""36.1554"",""-86.77560000000001""],[""36.1554"",""...",2019-06-06 22:23:21.773000,2019-06-01 03:07:08,2019-06-01 03:08:08,0 days 00:01:00,1.0
3,56032,2019-06-08 03:54:02,Gotcha,GOT28,Powered754,0.436972,36.161817,-86.775259,36.161812,-86.775187,"[[""36.16181"",""-86.77519000000001""],[""36.16181""...",2019-06-09 06:43:28.047000,2019-06-08 03:54:25,2019-06-08 03:58:25,0 days 00:04:00,4.0
4,78886,2019-06-10 03:03:13,Gotcha,GOT10,Powered2340,0.844915,36.154118,-86.784453,36.154169,-86.784463,"[[""36.15417"",""-86.78446000000001""],[""36.15417""...",2019-06-11 06:37:44.050000,2019-06-10 03:03:16,2019-06-10 03:04:16,0 days 00:01:00,1.0

In [22]:
june_trips.tail()

,index,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
151572,37295,2019-06-05 06:45:22,Bolt Mobility,BOL00148,Powered-1d88938b-8196-bd85-c06a-5be82c9a270b,42290.0300,36.146325,-86.810047,36.095949,-86.878746,"[[""36.146325"",""-86.810047""],[""36.146094"",""-86....",2019-06-06 13:03:15.673000,2019-06-05 06:05:49.000000,2019-06-05 06:43:24.000000,0 days 00:37:35,37.583333
151573,54556,2019-06-08 01:18:29.503000,Bird,BRD3855,PoweredJIHRC,42650.9200,36.155100,-86.785000,36.155300,-86.784900,"[[36.155311,-86.784832]]",2019-06-09 05:30:29.940000,2019-06-08 01:18:41.316666,2019-06-08 01:19:24.900000,0 days 00:00:43.583334,0.716667
151574,28534,2019-06-03 23:14:04.983000,Bird,BRD2590,PoweredUQ142,44947.5080,36.142100,-86.820900,36.152400,-86.813800,"[[36.142133,-86.821125],[36.142133,-86.821125]...",2019-06-04 05:31:26.087000,2019-06-03 22:39:14.556666,2019-06-03 23:15:46.706666,0 days 00:36:32.150000,36.533333
151575,160733,2019-06-23 00:53:41.253000,Lime,LIM83,PoweredEAOQMIQZ5UIVS,45330.8136,36.276461,-86.707774,36.169319,-86.779878,"[[36.27646,-86.70777],[36.16737,-86.78124],[36...",2019-06-24 07:30:56.837000,2019-06-23 00:12:34.000000,2019-06-23 00:16:16.000000,0 days 00:03:42,3.700000
151576,70262,2019-06-09 04:51:39.323000,Lime,LIM655,PoweredZION27DRWBC5F,51931.7832,36.142221,-86.806438,36.143102,-86.808470,"[[36.14231,-86.80559],[36.19426,-86.86417],[36...",2019-06-10 08:00:47.203000,2019-06-09 04:20:46.000000,2019-06-09 04:26:01.000000,0 days 00:05:15,5.250000

In [23]:
may_trips = may_trips.sort_values(['tripDistance'], ascending=True)

In [24]:
may_trips = may_trips.reset_index()
may_trips.head()

,index,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
0,183743,2019-05-26 18:10:46,Gotcha,GOT65,Powered380,0.083756,36.156305,-86.776061,36.156305,-86.776060,"[[""36.1563"",""-86.77606""],[""36.1563"",""-86.77606""]]",2019-06-06 21:43:08.923000,2019-05-26 18:10:49,2019-05-26 18:13:49,0 days 00:03:00,3.000000
1,220304,2019-05-31 16:12:35,Gotcha,GOT50,Powered616,0.213107,36.148513,-86.811590,36.148511,-86.811587,"[[""36.14851"",""-86.81159000000001""],[""36.14851""...",2019-06-06 22:16:20.730000,2019-05-31 16:12:36,2019-05-31 16:15:36,0 days 00:03:00,3.000000
2,55296,2019-05-09 19:53:52.850000,Lime,LIM1450,Powered32ZPJVMT2JNJP,0.304800,36.178559,-86.749774,36.177053,-86.750044,"[[36.17857,-86.74976],[36.17856,-86.74978],[36...",2019-05-10 08:42:13.523000,2019-05-09 19:49:08,2019-05-09 19:51:54,0 days 00:02:46,2.766667
3,65338,2019-05-11 15:47:01.003000,Lime,LIM1061,PoweredQPPZNSUIXWYSN,0.304800,36.176202,-86.756816,36.179294,-86.756576,"[[36.17621,-86.75678],[36.17622,-86.75677],[36...",2019-05-12 07:57:58.660000,2019-05-11 15:43:20,2019-05-11 15:46:18,0 days 00:02:58,2.966667
4,59767,2019-05-10 17:35:27.533000,Lime,LIM1799,Powered6QMXAPVIN7JVB,0.304800,36.175321,-86.788105,36.175314,-86.788152,"[[36.17531,-86.78814],[36.17531,-86.78815]]",2019-05-11 11:03:29.503000,2019-05-10 17:17:19,2019-05-10 17:31:22,0 days 00:14:03,14.050000

In [25]:
may_trips.tail()

,index,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDistance,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,startDateTime_clean,endDateTime_clean,duration_clean,duration_min
166640,155133,2019-05-24 06:49:17.303000,Lime,LIM1137,PoweredCFP6MH5XYRIN4,39976.54800,36.232434,-86.718057,36.170484,-86.761728,"[[36.23243,-86.71806],[36.1704,-86.76181],[36....",2019-05-25 07:20:35.757000,2019-05-24 05:57:26.000000,2019-05-24 06:19:16.000000,0 days 00:21:50,21.833333
166641,56258,2019-05-09 23:01:28.860000,Bird,BRD1141,PoweredKCTSP,40682.41600,36.185500,-86.730800,36.190300,-86.704200,"[[36.185429,-86.730844],[36.185577,-86.730794]...",2019-05-10 05:31:24.097000,2019-05-09 22:26:47.156666,2019-05-09 23:03:24.113333,0 days 00:36:36.956667,36.600000
166642,155317,2019-05-24 08:49:18.227000,Lime,LIM1213,PoweredMMPY2XUGLYKCV,41334.79920,36.151584,-86.784383,36.158784,-86.856105,"[[36.15158,-86.78438],[36.151210000000006,-86....",2019-05-25 07:22:06.973000,2019-05-24 08:04:07.000000,2019-05-24 08:25:01.000000,0 days 00:20:54,20.900000
166643,124953,2019-05-19 06:43:45.400000,Lyft,LFT1404,Powered297087,41446.85172,36.121480,-86.794750,36.035900,-86.792170,"[[36.12148,-86.79475],[36.12138,-86.79477],[36...",2019-05-20 07:31:28.950000,2019-05-19 06:04:54.596666,2019-05-19 06:43:45.300000,0 days 00:38:50.703334,38.833333
166644,137374,2019-05-21 01:22:15.973000,SPIN,SPI32,Powered6776606,43333.33472,36.166119,-86.780940,36.085038,-86.673697,"[[36.085038419999982,-86.673696779999972],[36....",2019-05-22 07:58:51.967000,2019-05-21 01:07:52.000000,2019-05-21 01:19:42.000000,0 days 00:11:50,11.833333

In [26]:
a = []
for row_index, row_value in july_trips.iterrows():
    routelist = ast.literal_eval(july_trips.loc[row_index,'tripRoute'])
    if len(routelist) > 2:
        if isinstance(routelist[0][0], float): 
            a.append(LineString(routelist).length)
        else:
            a.append(LineString(np.array(routelist,dtype=np.float32)).length)
    else:
        a.append(0)
july_trips['routeDistance']= a

#print(str(row_value['tripDistance'])+' | '+ str(test))
#np.array(ast.literal_eval(july_trips.loc[56,'tripRoute']),dtype=np.float32)

In [27]:
a = []
for row_index, row_value in may_trips.iterrows():
    routelist = ast.literal_eval(may_trips.loc[row_index,'tripRoute'])
    if len(routelist) > 2:
        if isinstance(routelist[0][0], float): 
            a.append(LineString(routelist).length)
        else:
            a.append(LineString(np.array(routelist,dtype=np.float32)).length)
    else:
        a.append(0)
may_trips['routeDistance']= a

In [28]:
a = []
for row_index, row_value in june_trips.iterrows():
    routelist = ast.literal_eval(june_trips.loc[row_index,'tripRoute'])
    if len(routelist) > 2:
        if isinstance(routelist[0][0], float): 
            a.append(LineString(routelist).length)
        else:
            a.append(LineString(np.array(routelist,dtype=np.float32)).length)
    else:
        a.append(0)
june_trips['routeDistance']= a

for row_index, row_value in july_trips.iterrows():
    print(row_index)
    routelist = ast.literal_eval(row_value['tripRoute'])
    if isinstance(routelist[0][0], float): 
        july_trips[row_index]['tripRoute'] = routelist
    else:
        july_trips[row_index]['tripRoute'] = np.array(routelist,dtype=np.float32)

In [ ]:
may_trips.head()

In [ ]:
june_trips.head()